  @import url('https://fonts.googleapis.com/css2?family=REM:wght@300&display=swap');

  * {
    font-family: "REM", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    min-height: 100vh;
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(0, 62, 28, 1) 0%, rgba(0, 0, 0, 1) 100%);
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    background: rgba(0, 0, 0, .2);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }

  .logo {
    font-size: 2rem;
    color: white;
    text-decoration: none;
    font-weight: 700;
  }

  .navbar a {
    position: relative;
    font-size: 1.15rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
  }

  .navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: white;
    border-radius: 5px;
    transform: translateY(10px);
    transition: .5s;
    opacity: 0;
  }

  .navbar a:hover::after {
    transform: translateY(0);
    opacity: 1;
  }

  .navbar2 a {
    font-size: 2.3rem;
    color: white;
    text-decoration: none;
    margin-left: 2.5rem;
  }

  .wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 450px;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(15px);
    box-shadow: -1px 0 10px rgb(0, 0, 0, .2);
    border-left: 2px solid rgba(255, 255, 255, .1);
    z-index: 100;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
  }

  .wrapper .form-box.login{
    display: none;
  }

  .wrapper .logreg-box {
    width: 100%;
  }

  .logreg-box .logreg-titulo {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    color: white;
  }

  .logreg-titulo h2 {
    font-size: 37px;
  }

  .logreg-titulo p {
    font-size: 18px;
    font-weight: 500;
  }

  .logreg-box .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    border-bottom: 2px solid white;
  }

  .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    color: white;
    font-weight: 500;
    padding-right: 30px;
  }

  .input-box label {
    position: absolute;
    left: 0;
    font-size: 16px;
    font-weight: 500;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    transition: .5s;
  }

  .input-box input:focus~label,
  .input-box input:valid~label {
    top: -5px;
  }

  .input-box .icon {
    position: absolute;
    font-size: 24px;
    color: white;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .logreg-box .lembrar-senha {
    font-size: 15px;
    font-weight: 500;
    color: white;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
  }

  .lembrar-senha label input {
    accent-color: white;
    margin-right: 10px;
  }

  .lembrar-senha a {
    color: white;
    text-decoration: none;
  }

  .lembrar-senha a:hover {
    text-decoration: underline;
  }

  .logreg-box .btn{
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 2px 5px rgb(0, 0, 0, .2);
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    color: #222;
  }

  .logreg-box .logreg-link{
    font-size: 15px;
    font-weight: 500;
    color: white;
    text-align: center;
    margin: 25px 0 15px;
  }

  .logreg-link p a{
    color: white;
    font-weight: 600;
    text-decoration: none;
  }

  .logreg-link p a:hover{
    text-decoration: underline;
  }

  .opcao-midia{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .opcao-midia a{
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    margin: 10px 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    border-radius: 40px;
    color: white;
    text-decoration: none;
    transition: .5s;
  }

  .opcao-midia a i {
    font-size: 25px;
    margin: 0 8px 1.5px 0;
  }

  .opcao-midia a span{
    font-size: 16px;
    font-weight: 600;
  }

  .opcao-midia a:hover{
    background: rgba(255, 255, 255, .1);
  }