  @import url('https://fonts.googleapis.com/css2?family=REM:wght@300&display=swap');

  * {
    font-family: "REM", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    min-height: 100vh;
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(0, 62, 28, 1) 0%, rgba(0, 0, 0, 1) 100%);
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    background: rgba(0, 0, 0, .2);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }

  .logo {
    font-size: 2rem;
    color: white;
    text-decoration: none;
    font-weight: 700;
  }

  .navbar a {
    font-size: 1.15rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
  }

  .navbar2 a {
    font-size: 2.3rem;
    color: white;
    text-decoration: none;
    margin-left: 2.5rem;
  }